.articleContainer{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.textContainer{
    width: 65%;
}
.imageContainer{
    width: 30%;
    height: 200px;
}
@media screen and (max-width:1024px) {
 .imageContainer{
    width:40%
 }  
 .textContainer{
    width: 55%;
 }
}
@media screen and (max-width:600px) {
  .articleContainer{
        flex-direction: column;
    }   
    .textContainer{
        width: 80%;
        margin: auto;
        margin-top:0.5rem;
        margin-bottom: 0.5rem;
    }
    .imageContainer{
        width: 80%;
        margin: auto;
        margin-top:0.5rem;
        margin-bottom: 0.5rem;
    }   
}