
.homeContainer{
    display: flex;
    align-items: center;
   
}

.thinkingContainer{
    width: 50%;
}
.thinkingTextContainer{
    width: 50%;
    
}
.thinkingText{
    margin-bottom: 2rem;
    font-weight: 600;
}
.getInTouch{
    margin-top:2rem;
    box-shadow: 2px 2px 2px 2px gray;
}
.thinkingTextH1{
    text-shadow:2px 3px 5px gray;
    font-size: 3rem;
    color: var(--color-secondary);
    /* color: black; */
    opacity: 1;
}
.newsLetterH1{
    color: var(--color-secondary);
    text-align: center;
    font-size: 2rem;
    text-shadow:2px 3px 5px gray;
    margin: 2rem;
    
}
@media screen and (max-width:1024px) {
  .thinkingContainer{
    display: none;
  }
  .homeContainer{
    min-height: 80vh;
    background-image: url('../image/thinking.jpg');
    background-size: cover;
    background-color: var(--color-primary);
   
  }
  /* .homeContainer::before {    
      content: "";
      position: absolute;
       min-height: 80vh;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      background-image: url('../image/thinking.jpg');
      background-size: cover;
      opacity: 0.1;
      margin-bottom: 2rem;
} */
  .thinkingTextContainer{
    width: 80%;
  }
}
@media screen and (max-width:600px) {
  
  
}